@import url(//fonts.googleapis.com/css?family=Poppins:600,400)
@import url(//fonts.googleapis.com/css?family=Inconsolata:700)
$font: 'Poppins', 'Helvetica', 'Arial'
$codefont: 'Inconsolata'
$headerfont: 'Poppins', 'Helvetica', 'Arial'


// Font weight mixins

@mixin thin
  font-weight: 400 !important
@mixin normal
  font-weight: 400 !important
@mixin bold
  font-weight: 600 !important
@mixin default
  font-weight: 600 !important
@mixin thick
  font-weight: 600 !important
